/* master styles */
body
{
    font-family:"Lora", open-sans;
    font-weight: 1000;
    margin: 0px;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;
}

/* navigation styles */
.navigation-wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side
{
    display: flex;
}

.navigation-wrapper > .left-side > div
{
    display: flex;
    margin-right: 15px;
    font-size: 0.95em;
    text-transform: uppercase;
}

.navigation-link-wrapper
{
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navigation-link-wrapper a
{
    color: #A9A9A9;
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-link-wrapper:hover
{
    border-bottom: 1px solid black;
}

.navigation-link-wrapper a:hover
{
    color: black;
}

/* portfolio styles */
.portfolio-items-wrapper
{

}

.portfolio-item-wrapper
{
    position:relative;   
}


.portfolio-image-background
{
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text-wrapper
{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img
{
    width: 25%;
    margin-bottom: 20px;
    opacity: 75%;
}

.note-wrapper img
{
    width: 25%;
    margin-bottom: 20px;
    opacity: 100%
}



.image-delete
{
    transition: 0.5s;
    filter: opacity(0%);
}

.image-replace
{
    width: 60%;
    height:60%;
    top:50px;
    left:0;
    padding: 75px;
    margin: auto;
    transition: 0.1s;
    opacity: 100%;
    content: url("Images/note.png");

}

.image-text-wrapper .subtitle
{
    font-weight: 600;
    transition: 1s;
    color: transparent;
}

.image-text-wrapper:hover .subtitle
{
    font-weight: 700;
    color: black;
}

.image-darken
{
    transition: 1s;
    filter: brightness(50%);
}

.image-brighten
{
    transition: 1s;
}

/* About page */
.two-column-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.profile-image-wrapper img
{
    width: 100%
}

.profile-content-wrapper
{
    padding: 30px;
}

.profile-content-wrapper h1
{
    color: #21618C;
}

.footer
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.footer-information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1100px;
    height:100;
}

.footer-information .footer-information-text .footer-information-text-header
{
    font-family: 'arial';
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: 100%;
    padding-bottom: 5px;
}

.footer-information .footer-information-text .footer-information-text-credits
{
    font-family: 'arial';
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    width: 100%;
    padding-bottom: 0px;
}